@using  odetofood.Controllers
@model odetofood.Entities.Restaurant
@{
    ViewBag.Title = "Details";
 }

    <h1>@Model.Name</h1>
    <div>
        @Html.ActionLink("Home", "Index");
    </div>
    <div>
        Id: @Model.Id
        Name: @Model.Name
        Cuisine: @Model.Cuisine

    </div>
